In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from pydataset import data

In [3]:
df = data('iris')

In [4]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

### Re-examining the df in July 2021

In [6]:
# renaming the columns

df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [7]:
# take a look at the size of the df

df.shape

(150, 5)

In [9]:
# take a closer look at the columns, check for nulls

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [10]:
# getting a closer look at the numerical columns

df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [13]:
# how many unique values are in species

df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [21]:
# let's find the avg values of the three species

df.groupby(['species']).mean().T

species       setosa  versicolor  virginica
sepal_length   5.006       5.936      6.588
sepal_width    3.428       2.770      2.974
petal_length   1.462       4.260      5.552
petal_width    0.246       1.326      2.026

### Some initial observations:
- setosa is smallest in every category except sepal_width
- versicolor is the middle child in every category except sepal_width
- virginica is the largest in every category except, you guessed it, sepal_width
- sepal_width is the only category that trends differently than the others