In [1]:
t = (1,2,3)

In [2]:
my_list = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(my_list)

list

In [5]:
len(t)

3

In [6]:
t = ('one',2)

In [7]:
t[0]

'one'

In [8]:
t[-1]

2

In [9]:
t = ('a', 'a', 'b')

In [12]:
# count will return the number of times that an element occurs

t.count('a')

2

In [13]:
# index will tell you where an element occurs

t.index('a')

0

In [14]:
t.index('b')

2

In [15]:
t

('a', 'a', 'b')

Demonstrating the immutablity of tuples

In [16]:
my_list

[1, 2, 3]

In [17]:
# when using a list, you can change elements

my_list[0] = 'NEW'

In [18]:
my_list

['NEW', 2, 3]

In [19]:
# with tuples, you cannot change elements

t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Further exploration

In [1]:
# tuple is ordered, immutable and allows duplicate elements

mytuple = ("Max", 28, "Boston")
mytuple

('Max', 28, 'Boston')

In [3]:
# tuples don't need parentheses

mytuple = "Max", 28, "Boston"
mytuple

('Max', 28, 'Boston')

In [4]:
# a tuple DOES, however, require a comma

mytuple = ("Max")
type(mytuple)

str

In [5]:
# like so...

mytuple = ("Max",)
type(mytuple)

tuple

In [8]:
# use the built-in tuple function to transform any(?) iterable into a tuple
# in this case, transforming a list

mytuple = tuple(["Weiland", 25, "Seattle"])

type(mytuple)

tuple

In [12]:
# you can also reverse this process

my_list = list(mytuple)
type(my_list)

list

In [9]:
# for loop to print items

for i in mytuple:
    print(i)

Weiland
25
Seattle

In [10]:
# if/else to check items

if "Seattle" in mytuple:
    print("gotcha!")
else:
    print("go fish!")

gotcha!

In [11]:
if "Detroit" in mytuple:
    print("gotcha!")
else:
    print("go fish!")

go fish!

In [13]:
# slicing with tuples

a = (1, 2, 3, 4, 5, 6, 7, 8, 9)
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
b = a[2:5]
b

(3, 4, 5)

In [17]:
# without specifying what element to stop on, it will print to the end

b = a[2:]
b

(3, 4, 5, 6, 7, 8, 9)

In [19]:
# the 'step' argument

b = a[1::3]
b

(2, 5, 8)

In [22]:
# a trick to reverse your tuple

b = a[::-1]
b

(9, 8, 7, 6, 5, 4, 3, 2, 1)