In [10]:
# Lists are ordered, mutable and allows duplicate elements

my_list = [1, 2, 3, 3]

In [11]:
my_list

[1, 2, 3, 3]

In [12]:
# lists can contain different data types

my_list = ["string", 100, 23.3]

In [13]:
len(my_list)

3

In [14]:
mylist = ['one','two','three']

In [15]:
mylist[0]

'one'

In [16]:
mylist[1:]

['two', 'three']

In [17]:
another_list = ['four', 'five']

In [18]:
new_list = mylist + another_list

In [19]:
new_list

['one', 'two', 'three', 'four', 'five']

In [20]:
new_list[0] = "ONE ALL CAPS"

In [21]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [22]:
new_list.append("six")

In [23]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [24]:
new_list.pop()

'six'

In [25]:
popped_item = new_list.pop()

In [26]:
popped_item

'five'

In [27]:
new_list.pop(0)

'ONE ALL CAPS'

In [28]:
new_list

['two', 'three', 'four']

In [29]:
new_list = ['a','c','k','q','z']
num_list = [4,6,1,8,2]

In [30]:
new_list.sort()

In [31]:
new_list

['a', 'c', 'k', 'q', 'z']

In [32]:
num_list

[4, 6, 1, 8, 2]

In [33]:
num_list.sort()

In [34]:
num_list

[1, 2, 4, 6, 8]

In [35]:
# using the reverse function

num_list.reverse()

In [36]:
num_list

[8, 6, 4, 2, 1]

In [37]:
i_like_list = ["Crowley", "Spare", "Lachman", "White", "Skinner"]

In [38]:
i_like_list.sort()

In [39]:
i_like_list

['Crowley', 'Lachman', 'Skinner', 'Spare', 'White']

In [40]:
i_like_list.append("Blavatsky")

In [41]:
i_like_list

['Crowley', 'Lachman', 'Skinner', 'Spare', 'White', 'Blavatsky']

In [42]:
# new lists, exploring 6 ways to concatenate

a = [1, 2, 3]
b = [4, 5, 6]

In [43]:
# 1 the conventional way

a + b

[1, 2, 3, 4, 5, 6]

In [44]:
# 2 operator.add(x, y) is equivalent to the expression x + y

import operator

operator.add(a, b)

[1, 2, 3, 4, 5, 6]

In [45]:
# 3 [*a, *b] - unpacking

[*a, *b]

[1, 2, 3, 4, 5, 6]

In [46]:
[*a]

[1, 2, 3]

In [47]:
# 4 another use for the sum function

sum([a, b], [])

[1, 2, 3, 4, 5, 6]

In [48]:
sum([b, a], [])

[4, 5, 6, 1, 2, 3]

In [49]:
# 5 itertools chain

from itertools import chain

chain(a, b)

In [50]:
# need to wrap the iterable in another function

list(chain(a, b))

[1, 2, 3, 4, 5, 6]

In [51]:
set(chain(a, b))

{1, 2, 3, 4, 5, 6}

In [52]:
# 6 a personal favorite: list comprehension - great for more than two lists

[item for list_ in [a, b] for item in list_]

[1, 2, 3, 4, 5, 6]

In [53]:
[item for list_ in [a, b, ["hey", "you!"]] for item in list_]

[1, 2, 3, 4, 5, 6, 'hey', 'you!']

In [54]:
# creating an empty list

my_list2 = list()

In [55]:
my_list2

[]

In [56]:
for x in my_list:
    print(x)

string
100
23.3

In [57]:
# checking to see if element is present

if "Lachman" in i_like_list:
    print("aha!")
else:
    print("oh man!")

aha!

In [58]:
if "DuQuette" in i_like_list:
    print("aha!")
else:
    print("oh man!")

oh man!

In [59]:
i_like_list

['Crowley', 'Lachman', 'Skinner', 'Spare', 'White', 'Blavatsky']

In [60]:
# adding items in a specific location

i_like_list.insert(3, "DuQuette")
i_like_list

['Crowley', 'Lachman', 'Skinner', 'DuQuette', 'Spare', 'White', 'Blavatsky']

In [61]:
# removing an item 

i_like_list.remove("Spare")
i_like_list

['Crowley', 'Lachman', 'Skinner', 'DuQuette', 'White', 'Blavatsky']

In [62]:
# remove all elements with the clear method

print(num_list)

num_list.clear()
print(num_list)

[8, 6, 4, 2, 1]
[]

In [65]:
# you can sort your list, while still keeping the original

print(i_like_list)

i_really_like_list = sorted(i_like_list)
print(i_really_like_list)
print(i_like_list)

['Crowley', 'Lachman', 'Skinner', 'DuQuette', 'White', 'Blavatsky']
['Blavatsky', 'Crowley', 'DuQuette', 'Lachman', 'Skinner', 'White']
['Crowley', 'Lachman', 'Skinner', 'DuQuette', 'White', 'Blavatsky']