In [1]:
my_list = [1,2,3]

In [2]:
my_list = ["string",100,23.3]

In [3]:
len(my_list)

3

In [5]:
mylist = ['one','two','three']

In [6]:
mylist[0]

'one'

In [7]:
mylist[1:]

['two', 'three']

In [8]:
another_list = ['four', 'five']

In [10]:
new_list = mylist + another_list

In [11]:
new_list

['one', 'two', 'three', 'four', 'five']

In [12]:
new_list[0] = "ONE ALL CAPS"

In [13]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [14]:
new_list.append("six")

In [15]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [16]:
new_list.pop()

'six'

In [17]:
popped_item = new_list.pop()

In [18]:
popped_item

'five'

In [19]:
new_list.pop(0)

'ONE ALL CAPS'

In [20]:
new_list

['two', 'three', 'four']

In [21]:
new_list = ['a','c','k','q','z']
num_list = [4,6,1,8,2]

In [22]:
new_list.sort()

In [23]:
new_list

['a', 'c', 'k', 'q', 'z']

In [24]:
num_list

[4, 6, 1, 8, 2]

In [25]:
num_list.sort()

In [26]:
num_list

[1, 2, 4, 6, 8]

In [27]:
num_list.reverse()

In [28]:
num_list

[8, 6, 4, 2, 1]

In [1]:
i_like_list = ["Crowley", "Spare", "Lachman", "White", "Skinner"]

In [2]:
i_like_list.sort()

In [3]:
i_like_list

['Crowley', 'Lachman', 'Skinner', 'Spare', 'White']

In [4]:
i_like_list.append("Blavatsky")

In [5]:
i_like_list

['Crowley', 'Lachman', 'Skinner', 'Spare', 'White', 'Blavatsky']

In [3]:
# new lists, exploring 6 ways to concatenate

a = [1, 2, 3]
b = [4, 5, 6]

In [ ]:
#1 the conventional way

a + b

In [2]:
#2 operator.add(x, y) is equivalent to the expression x + y

import operator

operator.add(a, b)

[1, 2, 3, 4, 5, 6]

In [4]:
#3 [*a, *b] - unpacking

[*a, *b]

[1, 2, 3, 4, 5, 6]

In [5]:
[*a]

[1, 2, 3]

In [6]:
#4 another use for the sum function

sum([a, b], [])

[1, 2, 3, 4, 5, 6]

In [7]:
sum([b, a], [])

[4, 5, 6, 1, 2, 3]

In [10]:
#5 itertools chain

from itertools import chain

chain(a, b)

In [11]:
# need to wrap the iterable in another function

list(chain(a, b))

[1, 2, 3, 4, 5, 6]

In [12]:
set(chain(a, b))

{1, 2, 3, 4, 5, 6}

In [13]:
#6 a personal favorite: list comprehension - great for more than two lists

[item for list_ in [a, b] for item in list_]

[1, 2, 3, 4, 5, 6]

In [14]:
[item for list_ in [a, b, ["hey", "you!"]] for item in list_]

[1, 2, 3, 4, 5, 6, 'hey', 'you!']