In [1]:
my_set = set()

In [2]:
my_set

set()

In [3]:
my_set.add(1)

In [4]:
my_set

{1}

In [5]:
my_set.add(2)

In [6]:
my_set

{1, 2}

In [7]:
mylist = [1,1,1,2,2,2,2,3,3,3]

In [8]:
# using the set function to modify a list

set(mylist)

{1, 2, 3}

### Booleans

In [9]:
True

True

In [10]:
type(False)

bool

In [11]:
23 > 45

False

In [12]:
1001 == 1001

True

In [13]:
b = None

In [14]:
type(b)

NoneType

## Python Engineer's YouTube channel

In [4]:
# Sets: unordered, mutable, no duplicates

# using the set function on a string. It just happened by chance to print in order, but it does not always...
my_set = set("Hello")
my_set

{'H', 'e', 'l', 'o'}

In [6]:
# you MUST use the set function to assign an empty set

my_set = {}
print(type(my_set))

my_set2 = set()
print(type(my_set2))

<class 'dict'>
<class 'set'>

In [13]:
# you can use either the remove or discard function to remove an element from the set

my_set = {1, 2, 3, 4, 5}

print(my_set)

my_set.discard(5)
print(my_set)

my_set.remove(4)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3}

In [14]:
# the remove function will throw a key error if you try to remove a 
# non-existant element

my_set = {1, 2, 3, 4, 5}

my_set.remove(7)
print(my_set)

KeyError: 7

In [15]:
# if the discard function does not find an element, NO ERROR is thrown 

my_set = {1, 2, 3, 4, 5}

my_set.discard(7)
print(my_set)

{1, 2, 3, 4, 5}

In [21]:
# you can use the clear function on a set

my_set = {1, 2, 3, 4, 5}
print(my_set)

print(my_set.clear())

{1, 2, 3, 4, 5}
None

In [22]:
# the pop function will remove (and return) an arbitrary number

my_set = {1, 2, 3, 4, 5}
print(my_set)

print(my_set.pop())

{1, 2, 3, 4, 5}
1

In [25]:
# the union function combines sets and removes duplicates

odds = {1, 3, 5, 7, 9}
evens = {0, 2, 4, 6, 8}
primes = {2, 3, 5, 7}

u = odds.union(primes)
print(u)

{1, 2, 3, 5, 7, 9}

In [24]:
# the intersection function returns the items that both sets share

i = odds.intersection(primes)
print(i)

{3, 5, 7}

In [27]:
# the difference function takes the elements from the first set that AREN'T in the second set

setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

diff = setA.difference(setB)
print(diff)

diff2 = setB.difference(setA)
print(diff2)

{4, 5, 6, 7, 8, 9}
{10, 11, 12}

In [28]:
# the symmetric_difference function returns all elements EXCEPT the common elements

diff = setA.symmetric_difference(setB)
print(diff)

diff2 = setB.symmetric_difference(setA)
print(diff2)

{4, 5, 6, 7, 8, 9, 10, 11, 12}
{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [29]:
# the update function combines all of the elements of both sets, minus the duplicates

setA.update(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [31]:
# the intersection_update method only returns the common elements

setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

setA.intersection_update(setB)
print(setA)

{1, 2, 3}

In [33]:
# the difference_update function updates the set by removing all elements of another set

setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

setA.difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9}

In [34]:
# the symmetric_difference_update combines sets, but removes common elements

setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

setA.symmetric_difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [35]:
# issubset checks to see if all elements from the first set are in the second set

setA = {1, 2, 3, 4, 5, 6, 7}
setB = {1, 2, 3}

print(setA.issubset(setB))

print(setB.issubset(setA))

False
True

In [36]:
# issuperset returns true if the first set contains all the elements
# from the second set

print(setA.issuperset(setB))

print(setB.issuperset(setA))

True
False

In [39]:
# isdisjoint returns true if one set has nothing in common with the second set

setA = {1, 2, 3, 4, 5, 6, 7}
setB = {1, 2, 3}
setC = {8, 9}

print(setA.isdisjoint(setB))

print(setA.isdisjoint(setC))

False
True